/* MAIN BODY STYLING */
html{

    background-color: #f6f6f6 !important;
}
p{
    font-family: 'Roboto', sans-serif;
}
h5{
    font-family: 'Roboto', sans-serif;
}
/* THINGS THAT DONT CHANGE */
.main-title{
    padding-top: 50px;
    background-color: #f6f6f6;
    text-align: center;
}

h5{
    margin-bottom: 5px;
    font-weight: bold;
}
/* Is is the Main Hero Text */
.hero-title{
    font-size: 100px;
    font-family: 'Fredoka One', cursive;
    color: #f6f6f6 !important;
    -webkit-text-stroke-width: 2px ;
    -webkit-text-stroke-color:#264041 ;
}

/* NAV BAR */
.hero.is-primary{
    background-color:#252831 ;
}
.hero.is-primary a.navbar-item.is-active{
    background-color: #05386b;
    color: #252831;
}
.hero.is-primary a.navbar-item:hover{
    background-color:#edf5e1 ;
    color: #252831 !important;

}
/* HERO BLOCK */
.hero-img{
    background-image: url("../images/zion.jpeg");
    width: 100%;
    height: auto;
    background-size: cover;
    text-align: center;
}

.input.is-rounded{
    width: 40%;
    background-color: #f6f6f6;
}
.button{
    background-color: #4a4a4a;
    color: #f6f6f6;
}
.button:hover{
 background-color:#264041;
 color: #f6f6f6;
}

.columns{
    margin: 20px;
}



/* RANDOM PARK GENERATOR */
.random-park-img{
    background-image: url("../images/forest-5319107-01.png");
    background-size: cover;
    background-color: #264041;
    width: 100%;
    height: auto;
    text-align: right;
}
p.random-park-title{
    font-family: 'Fredoka One', cursive;
    color: #f6f6f6 !important;
}

footer{
    background-color: #4a4a4a !important;
    padding: 1rem !important;
}

@media(max-width: 768px) {
 .hero-title{
    font-size: 50px;
    -webkit-text-stroke-width: .75px ;
}
}